#encabezado {
	display: flex;
	flex-direction: row;
	background-color: #FC2525;
	border-bottom-style: solid;
	border-bottom-color: white;
}

#encabezado h1 {
	font-family: 'Righteous', cursive;
	color: white;
	text-shadow: 2px 2px 2px black;
	margin: 10px;
	font-size: 50px;
	cursor: pointer;
}

#menu {
	display: grid;
	grid-template-columns: 180px 180px 180px 180px 180px;
    list-style: none;
}

#menu li a{
	font-family: 'Space Grotesk', sans-serif;
	color: white;
	text-shadow: 2px 2px 2px black;
	padding-top: 30px;
	text-decoration: none;
}

#menu h5 {
	font-family: 'Space Grotesk', sans-serif;
	color: white;
	text-shadow: 2px 2px 2px black;
	padding-top: 30px;
	text-decoration: none;
}

#menu h5:hover {
	color: #0F0194;
	cursor: pointer;
}

/* Termina el menu ----------*/
/* Comienza el contenido principal --------*/

#presentacion {
	display: flex;
	flex-direction: row;
}

.imagen {
	height: 471px;
	width: 1000px;
	border-style: solid;
	border-color: #FC2525;
}

#presentacion p {
	background-color: black;
	font-size: 42px;
	color: white;
	font-family: 'Space Grotesk', sans-serif;
	padding: 15px;
}

.camisetas h2 {
	margin: 20px;
	font-family: 'Righteous', cursive;
	border-bottom: 1px solid white;
	border-bottom-width: 50px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FC2525;
}

#camisetas1 {
	margin: 20px;
	font-family: 'Righteous', cursive;
	border-bottom: 1px solid white;
	border-bottom-width: 50px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FC2525;
}

#camisetas2 {
	margin: 20px;
	font-family: 'Righteous', cursive;
	border-bottom: 1px solid white;
	border-bottom-width: 50px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FC2525;
}

.fotos {
	display: grid;
	grid-template-columns: 340px 340px 340px 340px;
	padding: 10px;
}

#fotos1 {
	display: grid;
	grid-template-columns: 340px 340px 340px 340px;
	padding: 10px;
}

#fotos1 h3{
	font-size: 20px;
	text-align: center;
}

#fotos2 {
	display: grid;
	grid-template-columns: 340px 340px 340px 340px;
	padding: 10px;
}

#fotos2 h3 {
	font-size: 20px;
	text-align: center;
}

.fotos h3 {
	font-size: 20px;
	text-align: center;
}

.camisetas__foto {
	height: 340px;
	width: 280px;
	border-style: solid;
	border-color: black;
	box-shadow: 4px 4px 4px black;
	margin: 0 auto;
}

.camisetas__foto:hover {
	opacity: 0.5;
}

/* Termina el contenido principal --------*/

.pie {
	background-color: black;
	border-style: solid;
	border-top-color: #FC2525;
	padding: 40px;
}

.orden {
	display: grid;
	grid-template-columns: 180px 180px 180px;
	justify-content: center;
}

.pie li {
	display: flex;
	flex-direction: row;
	color: white;
	font-family: 'Space Grotesk', sans-serif;
}

.pie li:hover {
	color: #FC2525;
	cursor: pointer;
}

.body2 {
	background-color: #FC2525;
}

#encabezado1 {
	display: flex;
	flex-direction: row;
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: black;
}

#encabezado1 h1 {
	font-family: 'Righteous', cursive;
	color: #FC2525;
	text-shadow: 2px 2px 2px black;
	margin: 10px;
	font-size: 50px;
	cursor: pointer;
}

#encabezado1 a {
	color: #FC2525;
}

.retro {
	display: grid;
	grid-template-columns: 320px 320px 320px 320px;
	justify-content: center;
}

.tituloretro {
	margin: 20px;
	font-family: 'Righteous', cursive;
	border-bottom: 1px solid white;
	border-bottom-width: 50px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.card-img-top {
	height: 200px;
}

.card-img-top:hover {
	opacity: 0.5;
}

.card {
	box-shadow: 4px 4px 4px black;
}